
@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 992px) {
    .buttons {
        position: static; 
        width: 100%; 
        max-width: none; 
        text-align: center; 
    }
}

@media screen and (max-width: 768px) {
    
    .buttons {
        position: absolute;
        left: 100px; 
    }

}


@media screen and (max-width: 564px) {
    .header {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    
}

@media screen and (max-width: 370px) {

}

