body {
    background: lightgrey;
    margin: 0;
}

.chat {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Change from column-reverse to column */
}

.send {
    width: 98%;
    min-height: 100px;
    display: flex;
    border: 5px solid black;
    position: fixed;
    bottom: 10px;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: grey;
    margin-left: 10px;
}

.input {
    width: 80%;
    padding: 10px 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.send_btn {
    padding: 10px 15px;
    margin-left: 20px;
}

.send_btn:hover {
    background: grey;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 40px;
}

.message {
    border: 5px solid #000;
    border-radius: 10px;
    display: flex;
    width: 300px;
    min-height: 80px;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.icon {
    background: grey;
    border-radius: 100%;
    margin-left: 10px;
}


.catalog-icons {
    background: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 7px;
    position: absolute;
    height: 200px;
    top: -192px;
    overflow-y: scroll;
    left: 0;
    width: 220px;
    padding: 10px;
    align-items: start;
    transition: .2s;
    display: none;
}



.time {
    position: absolute;
    top: 50px;
    right: 50px;
}

.select-icon:hover .catalog-icons {
    display: flex;
}


.message:nth-child(1) {
    display: none;
}

.select_avatar {
    width: 50px;
    height: 50px;
}

.fake-input {
    background-image: url(../img/upload.png);
    /* background: red; */
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .pretty-input {
    position: relative;
    z-index: 0;
  }
  .choose-file {
    width: 40px;
    height: 40px;
    z-index: 1;
    position: relative;
    opacity: 0;
  }

  .back {
    width: 300px;
    height: 100px;
    border: 5px solid black;
    border-radius: 30px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
    cursor: pointer;
}